body {

}

.aboutme img {
  max-width: 100px;
  max-height: auto;
  float: left;
  border-width: medium;
  border-style: dotted;
  border-radius: 100%;

}

.firstpar {
  padding-left: 110px;
}

.aboutme h4 {
padding-left: 20px;
padding-top: 20px;
}
