body {
  background-color: #000032;
}
a {
  color: #000032;
  text-decoration: underline;
}
body p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2em;
  font-weight: bold;
}
.jumbotron {
  background-color: white;
  border-style: solid;
  border-color: teal;
  border-width: thick;
}
.jumbotron h1 {
  font-family: 'Stint Ultra Expanded', cursive;
  text-decoration: underline;
}
.jumbotron h3 {
  font-family: 'Dancing Script', cursive;
  margin-top: 1%;
}
.panel-title {
  font-family: 'Stint Ultra Expanded', cursive;
  font-size: 1.5em;
}
.panel {
  border-style: solid;
  border-color: teal;
  border-width: thick;
  margin-left: -.5%;
  margin-right: -.5%;
  margin-top: -.5%;
}
h4 {
  font-family: 'Stint Ultra Expanded', cursive;
}
ol {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2em;
  font-weight: bold;
}
h2 {
  margin-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.me img {
  max-width: 150px;
  max-height: auto;
  float: left;
  border-width: medium;
  border-style: solid;
  border-radius: 100%;
  margin-right: 2%;
  border-color: #000032;
}
.secondpar {
  padding-top: 2%;
}
.aboutme h4 {
padding-left: 20px;
padding-top: 20px;
}
.interests img {
  max-width: 230px;
  max-height: auto;
  border-width: medium;
  border-style: solid;
  border-color: #000032;
  margin-left: 20%;
}
.interests p {
  font-family: 'Dancing Script', cursive;
  margin-top: 2%;
  font-size: 1.3em;
  margin-left: 45%;
}
.coding img {
  max-width: 200px;
  max-height: auto;
  float: right;
  border-width: medium;
  border-style: solid;
  margin-right: 15%;
  margin-top: 4%;
  margin-left: 15%;
  margin-bottom: 4%;
  border-color: #000032;
}
.highlight {
  color: teal;
}
ul {
  list-style: none;
  font-family: 'Stint Ultra Expanded', cursive;
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
}
.italic {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}
ul li{
  padding-top: 2%;
}
